<main class="main">
    <section class="hero">
        <div class="board_img_container">
            <img src="boardImg.png" alt="Board Chess">
        </div>
        <div class="content_section">
            <div class="title_hero_section">
                Play chess <br>
                with your<br>
                 friends!! <br>
            </div>
            <div class="container_buttons_hero_section">
                <button class="button_hero_section create_game_button">
                    <img class="img_icon_button" src="createGame.png" alt="create game">
                    <div class="content_button">
                        <div class="title_content_button">Create a Game</div>
                        <div class="description_content_button">Share a code with a friend</div>
                    </div>
                </button>
                <button class="button_hero_section join_game_button">
                    <img class="img_icon_button" src="joinGame.png" alt="join game">
                    <div class="content_button">
                        Join a Game
                        <div class="description_content_button">Enter a code to join a game</div>
                    </div>
                </button>
            </div>
        </div>
    </section>
</main>